body {
  background-color: lightgray;
}
.container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid rgb(173, 174, 174);
  margin-top: 40px;
}

.box {
  flex: 1;
  margin: 0 10px;
  width: 180px;
  height: 150px;
  background-color: #6be0a6;
  border: 1.5px solid rgb(7, 212, 113);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
